@charset "UTF-8";

.inner { width: 1260px; margin: 0 auto;}

/**********
  MAIN-S 
**********/
/* SUB-1-COMMAND-S */
#main { overflow: hidden;
  min-width: 1260px;
  letter-spacing: -1.6px; font-family: 'Noto Sans KR', sans-serif;
}
.section { padding-bottom: 86px; 
  position: relative;
}
.section-header { 
  padding: 0 0 35px 3px;
  font-weight: 700; letter-spacing: -1.6px; font-size: 34px; line-height: 46px; color: #333; text-align: left;
}
.section-header:after { content: "";
  width: 320px; height: 16px;
  background-color: #73cafa;
  position: absolute; left: 11px; top: 26px; z-index: -10;
}
/* SUB-1-COMMAND-S */

/* VISUAL-S */
.visual { 
  width: 100%; min-width: 1260px; height: 430px;
  background-image: url(/img/sub/visual2.jpg);
}
/* VISUAL-E */

/* INB-S */
.lnb { width: 1260px; height: 80px; }
.lnb-list li { float: left;
  width: 630px; height: 80px;
  position: relative; top: -60px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
.lnb-list li a { display: block;
  width: 630px;  height: 80px;  
  font-size: 18px; line-height: 80px; color: #6c7edb; text-align: center;
  background-color: #fff;
   
}
.lnb-list li.on a { 
  color: #fff;
  background-color: #6c7edb;
}
.lnb-list li:hover a:after { opacity: 1;}
/* LNB-E */

/* TABLE-S */
legend { overflow: hidden;
  width: 0; height: 0; margin: 0; padding: 0;
  position: relative;
}
.festival-sch { 
  padding: 20px 25px; margin: 0 0 30px;
  background-color: #e9ecef;
  border-radius: 5px;
  text-align: left; vertical-align: middle;
}
.sch-left-count { 
  margin-top: 5px;
  font-size: 16px; line-height: 34px; color: #777;
}
.sch-left-count-all strong { font-weight: 600; font-size: 18px; color: #0e3964;}
.sch-left-count-all span { margin-right: 5px;}
.sch-left-count-page strong { font-weight: 600; font-size: 18px; color: #0e3964;}

.festival-table {
  margin-bottom: 15px;
  text-align: center;
  border-collapse: collapse;
}
.festival-table-list { display: table;
  width: 100%; min-width: 1260px;
  border-top: 2px solid #0e3964;
}
.festival-table-list caption { overflow: hidden;
  width: 0; height: 0; margin: 0; padding: 0;
  line-height: 0;
  position: relative; 
}
.thead {
  border-top: 2px solid #0e3964;
  background-color: #f1f1f1;
}
/* .festival-table .thead tr:first-child th {
  border-top: 2px solid #0e3964;
  background-color: #f1f1f1;

} */
.thead th { 
  padding: 10px 10px;
  font-weight: 500; font-size: 16px; color: #333;
  position: relative;
}
/* .thead th:before { content: "";
  width: 1px; height: 14px; 
  background-color: #999;
  position: absolute; right: 0; top: 50%;
} */
.tbody td {
  padding: 10px 10px;
  border-bottom: 1px solid #e9ecef;
  font-size: 15px; color: #555; text-align: center; line-height: 30px;
}
.tbody .subject { text-align: left;}
.tbody .atchFileld { text-indent: -9999px;
  position: relative;
}
.tbody .atchFileld a:after { content: "";
  width: 24px; height: 24px; margin: auto;
  background-image: url(/img/icon/image_FILL0_wght400_GRAD0_opsz24.png);
  position: absolute; right: 0; top: 0; left: 0; bottom: 0;
}
.tbody tr:nth-child(2n) {background-color: #f1f1f1;}
/* TABLE-E */
/* PAGINATION-S */
.pagination { display: inline-block;
  width: 100%; min-width: 1260px; height: 30px; margin: 20px 550px 300px; 
  text-align: center;
}
.pagination .page-item > a { color: #555; }
.pagination .page-item { display: inline;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.pagination .page-item > .page-link {float: left; 
  min-width: 30px; height: 30px; padding: 0 11px;
  text-align: center; line-height: 30px; 
  background-color: #fff;
  border-radius: 100px;
}
.pagination .page-item.active > .page-link { float: left; 
  min-width: 30px; height: 30px; padding: 0 11px;
  text-align: center; line-height: 30px; color: #fff;
  background-color: #0e3964;
  border-radius: 100px;
}
/* PAGINATION-E */



/**********
MAIN-E 
**********/
